<mat-toolbar color="secundary" class="mat-elevation-z8">
  <button mat-raised-button (click)="changeTheme('deeppurple-amber')">Deeppurple-Amber</button>&nbsp;
  <button mat-raised-button (click)="changeTheme('indigo-pink')">Indigo-Pink</button>&nbsp;
  <button mat-raised-button (click)="changeTheme('pink-bluegrey')">Pink-Bluegrey</button>&nbsp;
  <button mat-raised-button (click)="changeTheme('purple-green')">Purple-Green</button>&nbsp;
  <button mat-raised-button color="primary" (click)="changeTheme('custom')">Custom</button>
</mat-toolbar>

<div class="home-container">
  <div>
    <mat-card>
      <mat-card-header class="mat-toolbar mat-primary">
        <mat-card-title>Selector de color Web</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br/>
        Selecciones un color:
        <input [(colorPicker)]="color" [style.background]="color" [value]="color"/>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header class="mat-toolbar mat-accent">
        <mat-card-title>Enlaces</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li><a href="https://material.io/resources/color" target="materiaio_colors">Material IO (Colors)</a></li>
          <li><a href="https://material.angular.io/guide/theming" target="material_theming">Theming your Angular Material</a></li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Toolbar</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-toolbar></app-toolbar>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Pestañas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-tabs></app-tabs>
      </mat-card-content>
    </mat-card>


    <mat-card>
      <mat-card-header>
        <mat-card-title>Botones</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-buttons></app-buttons>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card>
      <mat-card-header class="mat-toolbar mat-warn">
        <mat-card-title>Pasos a seguir</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ol>
          <li>Editar el fichero: <strong>custom.scss</strong></li>
          <li>
            Modificar las variables:
            <ul>
              <li><i>$custom-app-primary</i></li>
              <li><i>$custom-app-accent</i></li>
              <li><i>$custom-app-warn</i></li>
              <li><i>$custom-app-theme</i> (mat-light-theme o mat-dark-theme)</li>
            </ul>
          </li>
          <li>Compilar el SCSS: <i>sass custom.scss src/assets/themes/custom.css</i></li>
          <li>Obtener el CSS personalizado: <i>src/assets/themes/custom.css</i></li>
        </ol>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Formulario</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-form></app-form>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Tabla</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-table></app-table>
      </mat-card-content>
    </mat-card>

  </div>
</div>
