@import '~@angular/material/theming';

$app-primary: mat-palette($mat-grey);
$primary: mat-color($app-primary);

.home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
  margin: 1rem;
}

.home-container .mat-card {
  margin-bottom: 1rem;
}

.home-color-primary {
  background-color: $primary;
}
