
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="side" opened fixedInViewport>
    <img src="assets/logo_vinco.png" width="95%">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['home']">
        <span matLine>Home</span>
      </a>
      <a mat-list-item [routerLink]="['tabs']">
        <span matLine>Pestañas</span>
      </a>
      <a mat-list-item [routerLink]="['buttons']">
        <span matLine>Botones</span>
      </a>
      <a mat-list-item [routerLink]="['address']">
        <span matLine>Formulario</span>
      </a>
      <a mat-list-item [routerLink]="['table']">
        <span matLine>Tabla</span>
      </a>
      <a mat-list-item [routerLink]="['toolbar']">
        <span matLine>Toolbar</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>SASS personalizados para Vincomobile Framework</span>
      <span class="toolbar-spacer"></span>
      <span>{{theme}}</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

